/* estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    }

.flex{
    display: flex;
}

.btn-contato button{
    padding: 5px 30px;
    font-size: 18px;
    color: black;
    font-weight: 600;
    background-color: #8c52ff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}

button:hover, form .btn-enviar input:hover{
    color: white;
    transform: scale(1.2);
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #8c52ff;
    font-size: 38px;
    font-weight: bolder;
}

/* estilo do cabeçalho */
header{
    padding: 10px 4%;
    position: fixed;
    width: 100%;
    /* height: 50px; */
    background-color: black; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(114, 114, 114);
    text-decoration: none;
}

header a:hover{
    color: white;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .logo img {
    width: 130px; 
    height: auto; 
}

/* estilo do topo do site */
section.topo-do-site{
    padding: 190px 4%;
    box-shadow: 0 0 40px 5px #a77df943;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 40px;
    line-height: 150px;
}

.topo-do-site .txt-topo-site p span{
    color: #8c52ff;
    font-size: 20px;
    font-weight: bolder;
}

.topo-do-site .img-topo-site img{
    position: relative;
    width: 500px;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}

/* estilo da formacao */
section.formacao{
    padding: 190px 4%;
    box-shadow: 0 0 40px 5px #a77df943;
}

section.formacao .flex{
    gap: 60px;
}

.formacao .formacao-box{
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .5s;
    position: relative;
}

.formacao-box {
    position: relative;
    overflow: hidden;
}

.formacao-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0  30px 5px #8c52ff;
}

.formacao-box .img-formacao img{
    width: 120px;
}

.formacao-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.formacao-box p{
    font-size: 18px;
    margin: 15px 0;
}

/* estilo experiencia */
section.experiencia{
    padding: 190px 4%;
    box-shadow: 0 0 40px 5px #a77df943;
}

.experiencia .formacao-box{
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .5s;
    position: relative;
}


/* estilo do portifolio */
section.portifolio{
    padding: 190px 4%;
    box-shadow: 0 0 40px 5px #a77df943;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 50px;
}

.img-port img{
    width: 500px;
    height: 300px;
    border-radius: 40px;
}

.img-port{
    position: relative;
}

.overlay-port{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.404);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: 2s;
}

.overlay-port a{
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.overlay-port:hover{
    opacity: 1;
}

/* estilo do formulario */
section.formulario{
    padding: 190px 4%;
    box-shadow: 0 0  40px 5px #a77df943;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(55, 55, 55);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #8c52ff;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: 3s;
}

/* estilo do rodape */
footer{
    padding: 20px 4%;
    box-shadow: 0 0 40px 5px #a77df943;
}

footer .flex{
    justify-content: space-between;
}

.btn-social button{
    background-color: black;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .3s;
}

.logo-footer img{
    width: 100px;
    padding-top: 50px;
}

.btn-social ul li{
    padding-top: 60px;
    display: inline-block;
}

.btn-social img{
    width: 50px;
    border-radius: 50%;
}

/* estilo mobile */
@media screen and (max-width: 1020px){
    
    /* classes gerais */
    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* topo do site */
    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* formacao */
    section.formacao{
        padding: 40px 8%;
    }

    /* rodape */
    .btn-social{
        text-align: center;
    }

    footer .flex{
        flex-direction: column;
        gap: 30px;
    }
    
    footer .line-footer{
        align-items: center;
    }

    /* portifolio */
    section.portfolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex{
        gap: 60px;
    }
}

